<h1>Activity <%= @activity.id %></h1>

<article>
  <h1>
    <%= @activity.value %>
  </h1>
  <p>
    <%= @activity.description %>
  </p>
  <p>
    <%= @activity.value %>, <%= @activity.size %>, <%= @activity.created_at.in_time_zone('Warsaw').strftime("%H:%m %d.%m, %Y") %>
  </p>
</article>

<%= link_to 'Edit', edit_activity_path(@activity) %>
<%= link_to 'Delete', activity_path(@activity), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
} %>
<%= link_to 'Back', root_path %>


